<PhysiCell_settings version="devel-version">
	<domain>
		<x_min>-500.0</x_min>
		<x_max>500.0</x_max>
		<y_min>-500.0</y_min>
		<y_max>500.0</y_max>
		<z_min>-20.0</z_min>
		<z_max>20.0</z_max>
		<dx>20.0</dx>
		<dy>20.0</dy>
		<dz>20.0</dz>
<use_2D>true</use_2D>
	</domain>
	
	<overall>
		<max_time units="min">3600.0</max_time> 
		<time_units>min</time_units>
		<space_units>micron</space_units>
	</overall>
	
	<parallel>
		<omp_num_threads>4</omp_num_threads>
	</parallel> 
	
	<save>
		<folder>./.</folder>  

		<full_data>
	<interval units="min">10</interval>
			<enable>True</enable>
		</full_data>
		
		<SVG>
	<interval units="min">10</interval>
			<enable>True</enable>
		</SVG>
		
		<legacy_data>
			<enable>false</enable>
		</legacy_data>
	</save>
	
	<user_parameters>
		
		<random_seed type="int" units="dimensionless">0</random_seed>
		
		 
		<use_defaults type="bool" units="dimensionless">False</use_defaults>
		
			 
		<death_modelling type="bool" units="dimensionless">True</death_modelling>
		
	 
		<diffusion_model type="bool" units="dimensionless">True</diffusion_model>
	
		
		 
		<o2_Modelling type="bool" units="dimensionless">False</o2_Modelling>
		
		 
		<diffusion_model_boundary type="bool" units="dimensionless">False</diffusion_model_boundary>
		
		 
		<create_sphere type="bool" units="dimensionless">True</create_sphere>
		
		 
		<o2_uptake_rate type="double" units="dimensionless">10.0</o2_uptake_rate>
		<o2_boundary type="double" units="dimensionless">60.0</o2_boundary>

		 
		<cell_type type="int" units="dimensionless">1</cell_type>
		
		 
		<birth_rate_UCI101 type="double" units="1/min">0.00037</birth_rate_UCI101>
		<death_rate_UCI101 type="double" units="1/min">0.0</death_rate_UCI101>		
		<birth_rate_A2780 type="double" units="1/min">0.0009</birth_rate_A2780>
		<death_rate_A2780 type="double" units="1/min">0.001</death_rate_A2780>
		
		 
		<no_of_cells type="double" units="dimensionless">14.0</no_of_cells>
		
		
		<drug type="string" units="dimensionless">cisplatin</drug>
		<drug_diffusion_rate type="double" units="micro m^2/min">10.0</drug_diffusion_rate>
		
		<drug_decay_rate type="double" units="1/min">0.0</drug_decay_rate>
		
		 
		<drug_boundary_condition type="double" units="dimensionless">5.0</drug_boundary_condition>
	
		 
		<Dirichlet type="bool" units="dimensionless">True</Dirichlet>

		 
		<device_secretion_rate type="double" units="1/min">1000.0</device_secretion_rate>
		<add_device_secretion type="bool" units="dimensionless">False</add_device_secretion>

		 
		<cell_radius type="double" units="micron">7.5</cell_radius>
		
		 
		<death_rate_type type="int" units="dimensionless">2</death_rate_type>
		
		 
		<standard_deviation type="double" units="dimensionless">0.2</standard_deviation>

		 
		<motile_cell_persistence_time type="double" units="min">15.0</motile_cell_persistence_time>
		<motile_cell_migration_speed type="double" units="micron/min">0.25</motile_cell_migration_speed> 
		<motile_cell_relative_adhesion type="double" units="dimensionless">0.05</motile_cell_relative_adhesion>
		<motile_cell_apoptosis_rate type="double" units="1/min">0.0</motile_cell_apoptosis_rate> 
		<motile_cell_relative_cycle_entry_rate type="double" units="dimensionless">0.1</motile_cell_relative_cycle_entry_rate>
	
	</user_parameters>
	
	
</PhysiCell_settings>